{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "assets": "./src/assets",
          "services": "./src/services",
          "config": "./src/config",
          "models": "./src/models"
        }
      }
    ]
  ]
}
